body {
    background-image: url(images/table.jpeg);
}   

#card > img{
    width: 150px;
    height: 150px;
}

#card {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}

.Drag {
    color: white;
    font-size: 30px;
    background-color: green;
    width: 100px;
    height: 75px;
}

.Cards2 {
    color: white;
    font-size: 30px;
    background-color: red;
    width: 100px;
    height: 120px;
}

.Reload2 {
    color: white;
    font-size: 30px;
    background-color:  yellow;
    width: 100px;
    height: 50px;  
}

