body {
    background-image: url(images/table.jpeg);
}   
#card > img{
    width: 150px;
    height: 190px;
}

#card {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}
.Cards2 {
    color: white;
    font-size: 30px;
    background-color: red;
    width: 200px;
    height: 50px;
}
.Drag {
    color: white;
    font-size: 30px;
    background-color: green;
    width: 170px;
    height: 50px;
}
.Reload2 {
    color: white;
    font-size: 30px;
    background-color:  rgb(255, 166, 0);
    width: 100px;
    height: 50px;  
}